.about-us {
  background-image: url("/images/about-us-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  .container {
    display: flex;
    align-items: center;
  }

  &__image {
    flex: 1;

    img {
      width: 100%;
    }
  }

  &__content {
    flex: 1;
  }

  &__text {
    line-height: 215%;
    margin-top: 18px;
    margin-bottom: 56px;
  }

  &__btn {
    background-color: rgba($color: #fa5652, $alpha: 0.15);
    border: 2px solid transparent;
    transition: all 200ms ease;

    &:hover {
      border: 2px solid $primary-color;
    }
  }
}
