.about-us {
  background-image: url("/images/about-us-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 80px;

  @include breakpoint(medium) {
    background-size: initial;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(medium) {
      flex-direction: row;
    }
  }

  &__image {
    flex: 1;

    img {
      width: 100%;
    }
  }

  &__content {
    flex: 1;

    @include breakpoint(medium) {
      padding-left: 20px;
    }
  }

  &__title {
    font-size: 1.625rem;

    @include breakpoint(medium) {
      font-size: 3.125rem;
    }

    div {
      font-size: 1rem;
      @include breakpoint(medium) {
        font-size: 1.8125rem;
      }
    }
  }

  &__text {
    line-height: 215%;

    @include breakpoint(medium) {
      margin-top: 18px;
      margin-bottom: 56px;
    }
  }

  &__btn {
    background-color: #fee6e5;
    border: 2px solid transparent;
    transition: all 200ms ease;

    &:hover {
      border: 2px solid $primary-color;
    }
  }
}
