.contagion {
  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(large) {
      flex-direction: row;
    }

    .card {
      padding: 25px;
      max-width: 460px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 10px;
      box-shadow: 0 35px 87px rgba($color: #000000, $alpha: 0.11);
      text-align: center;
      margin-bottom: 30px;
      cursor: pointer;
      transition: box-shadow 200ms ease;
      border-bottom: 6px solid transparent;
      position: relative;
      background-color: #fff;

      &:first-child {
        position: relative;
      }

      &:first-child::before {
        content: "";
        background-image: url("/images/coronavirus.svg");
        background-size: cover;
        height: 100px;
        width: 100px;
        position: absolute;
        z-index: -1;
        top: -40px;
        left: 0px;

        @include breakpoint(medium) {
          height: 200px;
          width: 200px;
          bottom: 0;
          left: -85px;
          top: initial;
        }
      }

      &:hover {
        box-shadow: 0 35px 87px rgba($color: #000000, $alpha: 0.21);
      }

      &--active {
        border-bottom: 6px solid $primary-color;
      }

      @include breakpoint(large) {
        height: 575px;
        margin-bottom: 0;
        &:not(:last-child) {
          margin-right: 31px;
        }
      }

      &__image {
        flex: 1;
        img {
          width: 100%;
        }
      }

      &__body {
        flex: 1;
      }

      &__title {
        font-size: 1.5rem;
        line-height: 147%;

        @include breakpoint(medium) {
          font-size: 2rem;
        }
      }

      &__subtitle {
        font-size: 0.875rem;
        line-height: 185%;

        @include breakpoint(medium) {
          font-size: 1.125rem;
        }
      }
    }
  }
}
