.contagion {
  &__header {
    margin-bottom: 111px;
  }
  &__cards {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    @include breakpoint(large) {
      flex-direction: row;
    }

    .card {
      padding: 25px;
      height: 575px;
      max-width: 460px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 10px;
      box-shadow: 0 35px 87px rgba($color: #000000, $alpha: 0.11);
      text-align: center;
      margin-bottom: 30px;
      cursor: pointer;
      transition: box-shadow 200ms ease;

      &:hover {
        box-shadow: 0 35px 87px rgba($color: #000000, $alpha: 0.21);
      }

      &--active {
        border-bottom: 6px solid $primary-color;
      }

      @include breakpoint(medium) {
        margin-bottom: 0;
        &:not(:last-child) {
          margin-right: 31px;
        }
      }

      &__image {
        flex: 1;
        img {
          width: 100%;
        }
      }

      &__body {
        flex: 1;
      }

      &__title {
        font-size: 2rem;
        line-height: 147%;
      }

      &__subtitle {
        font-size: 1.125rem;
        line-height: 185%;
      }
    }
  }
}
