// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  padding-bottom: 50px;
  .container {
    display: flex;
    flex-direction: column;

    @include breakpoint(large) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logo {
    width: 120px;

    img {
      width: 100%;
    }
  }

  &__menu {
    ul {
      display: flex;
      flex-direction: column;

      @include breakpoint(large) {
        flex-direction: row;
        align-items: center;
      }
    }

    li {
      margin-bottom: 10px;

      @include breakpoint(large) {
        margin-bottom: 0;

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }

    a {
      font-size: 1.25rem;
      transition: color 200ms ease;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &__social {
    ul {
      display: flex;
      flex-direction: column;

      @include breakpoint(large) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }

    li {
      @include breakpoint(large) {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }

    a {
      height: 20px;
      width: 20px;
      margin-bottom: 10px;

      @include breakpoint(large) {
        margin-bottom: 0;
      }

      svg {
        height: 100%;
        width: 100%;
        color: $secondary-color;
      }
    }
  }

  &__copyright {
    font-size: 1rem;
    text-align: center;
  }
}
