// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  padding-top: 100px;
  background: linear-gradient(0deg, #fff, #fff8f8);

  @include breakpoint(medium) {
    padding-top: 150px;
  }

  .nav {
    padding: 10px;
    background-color: #fff8f8;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    z-index: 5;

    @include breakpoint(medium) {
      height: 130px;
      padding: 20px;
    }

    .logo-wrapper {
      min-width: 120px;
      width: min-content;
      z-index: 10;
      flex-shrink: 0;

      @include breakpoint(medium) {
        width: initial;
        margin-right: 20px;
      }

      img {
        width: 100%;
      }
    }

    .menu {
      display: none;
      background-color: #fff;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      &.small {
        display: flex;
      }

      @include breakpoint(large) {
        display: flex;
        align-items: center;
        position: static;
        background: transparent;
        flex-direction: row;
        width: initial;
      }

      &__list {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 80%;
        text-align: center;

        @include breakpoint(large) {
          flex-direction: row;
        }
      }

      &__item {
        margin-right: 0;

        @include breakpoint(large) {
          margin-right: 50px;
        }
      }

      &__link {
        font-size: 2rem;

        color: $secondary-color;
        transition: color 200ms ease;

        @include breakpoint(large) {
          font-size: 1.125rem;
        }

        &:hover {
          color: $primary-color;
        }

        &--active {
          color: $primary-color;
        }
      }

      .btn-contact {
      }
    }

    .hamburger-menu {
      display: flex;
      padding: 10px;
      height: 45px;
      width: 45px;
      cursor: pointer;
      z-index: 20;
      flex-shrink: 0;

      img {
        width: 100%;
      }

      @include breakpoint(large) {
        display: none;
      }

      .menu-exit {
        display: none;
      }

      &.active .menu-bars {
        display: none;
      }

      &.active .menu-exit {
        display: inline-block;
      }
    }
  }

  .banner {
    display: flex;
    flex-direction: column;

    @include breakpoint(medium) {
      flex-direction: row;
      align-items: center;
    }

    &__content {
      flex: 1;
      margin-bottom: 50px;
      order: 2;

      @include breakpoint(medium) {
        margin-bottom: 0;
        order: initial;
      }
    }

    &__image {
      flex: 1;
      position: relative;

      img {
        width: 100%;
      }
    }

    &__title {
      font-size: 1.4rem;

      @include breakpoint(large) {
        font-size: 2rem;
      }
    }

    p {
      margin-bottom: 30px;

      @include breakpoint(large) {
        margin-bottom: 54px;
      }
    }

    &__btn-cta {
      background-color: $primary-color;
      color: #ffffff;
      transition: all 200ms ease;
      box-shadow: 0 0 10px rgba($color: $primary-color, $alpha: 0.6);

      &:hover {
        box-shadow: 0 0 20px rgba($color: $primary-color, $alpha: 0.8);
        transform: translateY(-3px);
      }
    }
  }
}
