// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  height: 100vh;
  background: linear-gradient(0deg, #fff, #fff8f8);

  .nav {
    display: flex;
    height: 130px;
    align-items: center;
    justify-content: space-between;

    .menu {
      display: flex;
      align-items: center;

      &__list {
        display: flex;
      }

      &__item {
        margin-right: 50px;
      }

      &__link {
        font-size: 1.125rem;
        color: $secondary-color;
        transition: color 200ms ease;

        &:hover {
          color: $primary-color;
        }

        &--active {
          color: $primary-color;
        }
      }
    }
  }

  .banner {
    display: flex;

    &__content {
      flex: 1;
    }

    &__image {
      flex: 1;

      img {
        width: 100%;
      }
    }

    &__title {
      font-size: 2rem;
      text-transform: capitalize;
      line-height: 139%;
      margin-bottom: 29px;
      div {
        font-size: 18px;
        color: $primary-color;
      }
    }

    p {
      font-size: 1.5rem;
      text-transform: capitalize;
      line-height: 190%;
      margin-bottom: 54px;
    }

    &__btn-cta {
      background-color: $primary-color;
      color: #ffffff;
      transition: all 200ms ease;

      &:hover {
        box-shadow: 0 8px 87px rgba($color: #000000, $alpha: 0.3);
        transform: translateY(-3px);
      }
    }
  }
}
