.subscribe {
  text-align: center;

  background-image: url(/images/subscribe-bg.svg);
  background-repeat: no-repeat;
  background-size: 120px;
  background-position: top right;

  @include breakpoint(medium) {
    background-size: initial;
    background-position: bottom right;
  }

  h2 {
    font-size: 1.6rem;
    div {
      color: inherit;
    }

    @include breakpoint(medium) {
      font-size: 3rem;
    }
  }

  .subscribe-form {
    height: auto;
    width: 100%;
    max-width: 790px;
    margin: 0 auto;
    position: relative;

    @include breakpoint(medium) {
      height: 114px;
    }

    input[type="email"] {
      height: 100%;
      width: 100%;
      border-radius: 1000px;
      border: none;
      padding: 20px;
      box-shadow: 0 0 50px rgba($color: #000000, $alpha: 0.1);
      outline: none;
      margin-bottom: 20px;
      font-size: 1rem;

      @include breakpoint(medium) {
        padding: 40px 250px 40px 40px;
        margin-bottom: 0;
        font-size: 1.375rem;
      }
    }

    input[type="submit"] {
      height: 68px;
      width: 100%;
      background-color: $primary-color;
      border-radius: 1000px;
      border: none;
      outline: none;
      color: #ffffff;
      position: static;
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
      padding: 0;
      transition: background-color 200ms ease;

      @include breakpoint(medium) {
        height: 78px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 209px;
        font-size: 1.375rem;
      }

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}
