// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  //   height: 55px;
  //   width: 154px;
  display: inline-block;
  padding: 0.8rem 2.76rem;
  border-radius: 1000px;
  font-weight: bold;

  &--outline {
    border: 2px solid $primary-color;
    transition: all 200ms ease;

    &:hover {
      background-color: $primary-color;
      color: #ffffff;
    }
  }

  &--lg {
    padding: 1.25rem 3.5rem;
  }

  &--xl {
    font-size: 1.5rem;
    padding: 1.6875rem 4.3rem;
  }
}
