// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  display: inline-block;
  color: $primary-color;
  text-decoration: none;
  font-size: 1.125rem;

  // @include on-event {
  //   text-decoration: underline;
  // }
}

ul {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-family: $heading-font-stack;
  color: $secondary-color;
}

h1,
h2 {
  text-transform: capitalize;
  line-height: 139%;
  div {
    color: $primary-color;
  }
}

p {
  font-size: 1rem;
  text-transform: capitalize;
  line-height: 190%;

  @include breakpoint(medium) {
    font-size: 1.25rem;
  }
}

section {
  padding: 180px 0;

  @include breakpoint(medium) {
    padding: 100px 0 200px;
  }
}

.white-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;

  &.active {
    display: block;
  }
}
