// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $primary-color;
  text-decoration: none;
  font-size: 1.125rem;

  // @include on-event {
  //   text-decoration: underline;
  // }
}

ul {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-family: $heading-font-stack;
  color: $secondary-color;
}

h1,
h2 {
  font-size: 3.125rem;
  text-transform: capitalize;
  line-height: 139%;
  margin-bottom: 29px;
  div {
    font-size: 1.8125rem;
    color: $primary-color;
  }
}

p {
  font-size: 1.25rem;
  text-transform: capitalize;
  line-height: 190%;
}

section {
  padding: 200px 0;
}
