// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Gelion", sans-serif !default;

/// @type List
$heading-font-stack: "Red Hat Display", sans-serif !default;

/// Copy text color
/// @type Color
$text-color: #4b4f51 !default;

/// Primary color
/// @type Color
$primary-color: #fb4c47 !default;

/// Main Heading color
/// @type Color
$secondary-color: #035755 !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: "/assets/" !default;
